.booking-sitter {
  width: 15%;
  display: flex;
}

.main-content-bookings {
  background: white;
  display: flow-root;
}

.booking-item-box {
  margin: 25px;

}

.booking-sitter-name {
  height: 10%;
}


.profile-icon-circle {
  position: relative;
  border-radius: 50%;
}
