.form-box-booking {
  background: #fff;
  max-width: 400px;
  margin: 0 auto;
  border-radius: 4px;
  margin-top: 25px;
}

.booking-form-box {
  position: relative;
  background: white;
  display: block;
  padding-bottom: 62px;
  border: 1px solid #ddd;
}

.sidebar-main {
  padding: 10px;
  border-radius: 4px;
}

.booking-form {
  height: 250px;
  width: 100%;
}
.form-control {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid #ddd;
  padding-left: 10px;
  padding-right: 10px;
}
.search-section {
  margin-bottom: 20px;
  font-size: 14px;
}
.search-service {
  font-size: 14px;
  margin-bottom: 20px;
  font-weight: 500;
}
.heading {
  margin-bottom: 5px;
  font-weight: 500;
}

.date {
  display: block;
  height: 100%;
  width: 100%;
  font-size: 90%;
  border: 1px solid #ddd;
  padding: 5px;
}

.fa-long-arrow-alt-right {
  display: inline-block;
}
.date-picker-control-divider {
  color: #bbb;
  padding-top: 8px;
}
.date-box {
  width: 45%;
  float: left;
  position: relative;

}

.date-range-picker {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.search-date-view-box {
  margin-bottom: 20px;
}

.input-group-wrapper {
  border-radius: 4px;
}

.input-group {
  box-shadow: none;
  width: 100%;
  border: none;
}

.search-date-view {
  margin-top: 10px;
  margin-bottom: 20px;
}

.submit-booking-form-button {
  display:block;
  background: #00bd70;
  border-color: #00bd70;
  color: #fff;
  width: 100%;
  padding: 10px 0px;
  line-height: 1.6;
  border-radius: 4px;
  font-weight: 500;
  text-align: center;
  margin: 0 auto;
  font-size: 16px;

}
.button:hover {
  background-color: #00a461;
  box-shadow: none;
  outline: none!important;
  color: #fff;
}
