.booking-sitter {
  width: 20%;
  display: flex;
}

.main-content-bookings {
  background: white;
  display: inline-block;
}

.booking-item-box {
  margin: 4%;

}

.booking-sitter-name {
  height: 10%;
}


.profile-icon-circle {
  position: relative;
  border-radius: 50%;
}

.index-booking {
  height: 100%;
  background: white;
  display: flex;
}

.full-width {
  float:left;
  width: 60%;
  position: relative;
  padding-left: 0;
  padding-right: 0;
  margin: auto;
}
