.navbar {
  position: relative;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  background: #fff;
  border-radius: 0;
  border: none;
  border-bottom: 1px solid #ddd;
  margin-bottom: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 22px;
  height: 50px;
  box-sizing: border-box;
  width: 100%;
  z-index: 100;
}

.header-login-signup-links {
  color: #777;
  font-size: 14px;
  margin-top: 5px;
}

.logout-button {
  font-size: 14px;
}

.header-logged-in-links {
  color: #777;
  font-size: 14px;
  margin-top: 5px;
}

.brand-icon {
  height: 30px;
  width: 30px;
}

.nav-header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-left: 100px;
  margin-right: 100px;
}

.baxter {
  padding-top: 5px;
  color: #00bd70;
}

.icon-baxter-duo {
  display: flex;
}

.demo-login-button {
  font-size: 14px;
}

.profile-icon {
  position: relative;
  width: 15px;
  margin-right: 10px;
  margin-bottom: -2px;
}

.profile-icon-box {
  border: 1px;
  display: inline-block;

}

.far fa-envelope {
}

.bookings-icon {
  margin-right: 5px;
}

a:hover, Link:hover, button:hover {
  color: #333;
  background-color: transparent;
}
