.navbar {
  position: relative;
  display: flex;
  flex-direction: column;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  background: #fff;
  border-radius: 0;
  border: none;
  border-bottom: 1px solid #ddd;
  margin-bottom: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 22px;
  min-height: 50px;
  box-sizing: border-box;
}

.header-login-signup-links {
  display: block;
  position: relative;
  padding-top: 14px;
  padding-bottom: 14px;
  margin-right: -15px;
  float: right!important;
}

.logout-button {
  margin: 20px;
}

.header-logged-in-links {
  margin: 20px;
}

.brand-icon {
  
}
