.sitter-detail {

}

.sitter-detail-list {

}

.reviews {


}
.main {
  margin-top: 0;
  transition: margin-top,.4s,ease-out;
}
//sitter_show//
.main-content-sitter-show {
  background-color: #ebeeef!important;
  margin-top: 0px;

  display: block;
  min-width: -webkit-fill-available;
  position: absolute;
  min-height: 100vh;
}

.fixed-contact-bar {
  top:0;
  box-shadow: 0 3px 8px -2px rgba(0,0,0,.15);
  padding: 15px 0;
  height: 80px;
  overflow: hidden;
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;
  transition: top,.5s;
}

.hero-container {
  background-color: #fff;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  max-width: 80%;
  height: 625px;
}

.member-profile-hero-wrap {
  margin: 40px auto;
  background-color: inherit;
  position: relative;
  border-radius: 4px;
  box-sizing: border-box;
  height: 100%;
}
.member-profile-photos-row-row {
  margin-left: -15px;
  margin-right: -15px;
  display: flex;
  height: 100%;
  border-radius: 4px;
  box-shadow: 0 3px 0 #ddd;

}
.member-profile-photos-row {
  content: " ";
  top: 0;
  left: 0;
  bottom: 0;
  width: 66.67%;
}

.member-profile-photos-col {
  height: 100%
}

.hero-image {
  height: 100%;
  width: 100%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  background-size: cover;
}



.member-profile-details-col {
  float:right;
  width: 33.33%

}

.member-profile-bottom-half {
  background-color: #fff;
  box-sizing: border-box;
  min-height: 500px;
}

.member-profile-bottom-half-container {
  margin-bottom: 3px;
  padding-top: 40px!important;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #ebeeef !important;
}

.member-profile-bottom-half-row {
  margin-left: -15px;
  margin-right: -15px;
}

.col-right {
  left: 66.67%;
  width: 33.33%;
  float: left;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

.dog-preferences {

}

.availability {

}

.col-left {
  width: 66.67%;
  right: 33.33%;
  float: left;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

.reviews {

}

.about {
  margin-bottom: 30px;
  word-wrap: break-word;
}
