.sitter-summary-wrap {
  padding: 20px;
}

.sitter-summary-wrap-margin-bottom-15 {
  margin-bottom: 15px!important;
}

.sitter-summary-media {
  margin-top: 0;
  overflow: hidden;
}

.sitter-show-profile-icon {
  float: left!important;
  margin-right: 10px;
}

.sitter-profile-icon {
  vertical-align: middle;
  border-radius: 4px;
  height: 64px;
  width: 64px;
}

.media-body {
  overflow: hidden;
  zoom: 1;
}

.sitter-name-profile {

}

.sitter-neighborhood {

}

.sitter-rating-profile {

}

.sitter-services-wrap {
  margin-bottom: 20px;
}

.sitter-rates-summary-wrap {

}

label {
  font-weight: 700;
}

.sitter-rates-summary-margin-bottom {
  margin-bottom: 10px!important;
}

.title-row.center {
  height: 100%;
}
.fluid-row.center .fluid-col {
  vertical-align: middle;
}

.fluid-row .fluid-col {
  display: table-cell;
}

.fluid-row {
  display: table;
  width: 100%;
}

.text-right {
  text-align: right;
}

.h5 {
  margin-top: 0!important;
  margin-bottom: 0!important;
  font-family: inherit;
  color: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.4;
}

.h2 {
  margin-top: 0!important;
  margin-bottom: 0!important;
  font-family: inherit;
  color: inherit;
  font-size: 32px;
  font-weight: 400;
  line-height: 1.4;
}

.subtext-row {
  margin-top: -6px;
}

.text-muted {
  color: #999;
  font-size: 14px;
}

.contact-favorite-wrap {

}

.favorite-button-col {
  width: 50px;
  float: right;
}

.contact-button-col {
  margin-right: 65px;
}
