.about {


}

.sitter-description-wrap {

}

.section-row {

}

.section-col-main {
  clear: none;
  margin-left: 162px;
}

.about-title {
  margin-bottom: 20px!important;
  margin-top: 0!important;
  color: #00bd70;
  font-size: 20px;
  line-height: 1.4;
  font-family: inherit;
  font-weight: 400;
}

.section-col-meta {
  width: 132px;
  float: left;
}

h4 {
  font-size: 20px;
  line-height: 1.4;
  font-family: inherit;
  color: inherit;
  margin-top: 11px;
  margin-bottom: 11px;
  font-weight: 400;
}

.sitter-description {

}

p {
  margin: 0 0 11px;
}
