.index {

}

.sitter-item-box {
  border: 1px solid #ddd;
}

.sitter-item-index {
  cursor: pointer;

}

.sitter-item-link {

}

.index-item-info {

}

.index-item-category {


}

.index-item-value {


}

.index {
  height: 100%;
  background: white;
}
