.sitter-summary-wrap {
  padding: 20px;
  height: 100%;
}

.sitter-summary-wrap-margin-bottom-15 {
  margin-bottom: 35px!important;
}

.sitter-summary-media {
  margin-top: 0;
  overflow: hidden;
}

.sitter-show-profile-icon {
  float: left!important;
  margin-right: 10px;
}

.sitter-profile-icon {
  vertical-align: middle;
  border-radius: 4px;
  height: 64px;
  width: 64px;
}

.media-body {
  overflow: hidden;
  zoom: 1;
}

.sitter-name-profile {

}

.sitter-neighborhood {

}

.sitter-rating-profile {

}

.sitter-services-wrap {
  margin-bottom: 20px;
}

.sitter-rates-summary-wrap {

}

label {
  font-weight: 700;
}

.sitter-rates-summary-margin-bottom {
  margin-bottom: 10px!important;
}

.title-row.center {
  height: 100%;
}
.fluid-row.center .fluid-col {
  vertical-align: middle;
}

.fluid-row .fluid-col {
  display: table-cell;
}

.fluid-row {
  display: table;
  width: 100%;
}

.text-right {
  text-align: right;
}

.h5 {
  margin-top: 0!important;
  margin-bottom: 0!important;
  font-family: inherit;
  color: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.4;
}

.h2 {
  margin-top: 0!important;
  margin-bottom: 0!important;
  font-family: inherit;
  color: inherit;
  font-size: 32px;
  font-weight: 400;
  line-height: 1.4;
}

.subtext-row {
  margin-top: -6px;
}

.text-muted {
  color: #999;
  font-size: 14px;
}

.contact-wrap {
  position: absolute;
  bottom: 15px;
  right: 5px;
  left: 70%;
  height: 47px;
}

.contact-favorite-wrap {
  display: block;
  height: 100%;
}

.favorite-button-col {
  width: 50px;
  float: right;
  height: 100%;
  border-radius: 4px;
  border: 1px solid #ddd;

}

.contact-button-col {
  margin-right: 65px;
  height: 100%;
  border-radius: 4px;
  border: 1px solid #ddd;
  background: #00bd70;
  border-color: #00bd70;
}

.favorite-button {
  color: #da6a18;
  background: #fff;
  display: block;
  height: 100%;
  width: 100%;
  text-align: center;
  vertical-align: center;
}

.contact-button {
  background: #00bd70;
  border-color: #00bd70;
  color: #fff;
  display: block;
  height: 100%;
  text-align: center;
  padding-top: 11px;
}

.contact-button:hover {
  background-color: #00a461;
  box-shadow: none;
  outline: none!important;
  color: #fff;
}

.favorite-button-col:hover {
  color: #da6a18;
  background-color: #f2f2f2;
  box-shadow: none;
  outline: none!important;
}

.favorite-button:hover {
  color: #da6a18;
  background-color: #f2f2f2;
  box-shadow: none;
  outline: none!important;
}

.btn-lg {
  padding: 10px 16px;
  text-align: center;
  vertical-align: middle;
  margin-bottom: 0;
}

.default-state {
  display: inline;
}

.favorited-state {
  display: none;

}
