.sitter-detail {

}

.sitter-detail-list {

}

.reviews {


}

.single-sitter_show {
  background: white;
}

.sitter-details {

}

.sitter-name-show {
  font-weight: bold;
  font-size: 30px;
}

.sitter-reviews-show {
  font-size: 20px;
}

.sitter-details-list-box {

}

.sitter-reviews-list-box {

}

.sitter-reviews-list {
  
}
